<h3 ng-show="user.isAuthenticated">Create a new Game</h3>
<hr />

<h2 ng-hide="user.isAuthenticated">You have to <a href="#!/login">Log in</a> to create new game!</h2>

<div class="row" ng-init="initController()">
    <div class="form-group col-sm-12" ng-class="{'has-error' : createForm.System.$invalid && createForm.System.$touched}" ng-hide="isLoading || onSuccess">
        <label for="System" class="control-label">Game system</label>
        <div>
            <label class="radio-inline" ng-repeat="system in gamesystems">
                <input type="radio" ng-model="game.System" name="Gender" value="{{system.Key}}" required ng-change="checkIfSystemSelected()" /> {{system.Name}}
            </label>

            <span class="help-block" ng-show="createForm.System.$error.required && createForm.System.$touched">System is required</span>
        </div>
    </div>
    <form class="form-horizontal col-sm-12" name="createForm" ng-submit="create()" ng-hide="isLoading || onSuccess || !isSystemSelected" ng-show="user.isAuthenticated && isSystemSelected">
        <div class="form-group col-sm-12" ng-class="{'has-error' : createForm.Name.$invalid && createForm.Name.$touched}">
            <label for="Name" class="control-label">Name</label>
            <div>
                <input minlength="2" maxlength="24" type="text" class="form-control" name="Name" placeholder="Name" ng-model="game.Name" required>
                <span class="help-block" ng-show="createForm.Name.$error.required && createForm.Name.$touched">Name is required</span>
                <span class="help-block" ng-show="createForm.Name.$error.minlength && createForm.Name.$touched">Name must be minimum 2 characters long!</span>
                <span class="help-block" ng-show="createForm.Name.$error.maxlength && createForm.Name.$touched">Name can only be up to 24 characters long!</span>
            </div>
        </div>
        <div class="form-group col-sm-12" ng-class="{'has-error' : createForm.Description.$invalid && createForm.Description.$touched}">
            <label for="Description" class="control-label">Description</label>
            <textarea pattern="[A-zA-Z0-9 ]+$" minlength="3" class="form-control" rows="5" ng-model="game.Description"></textarea>
            <span class="help-block" ng-show="createForm.Description.$error.pattern && createForm.Description.$touched">Description can only contains letters and numbers!</span>
        </div>
        </div>

        <br />
        <div class="buttons col-sm-12">
            <button type="submit" class="btn btn-primary pull-right">Create Game Session</button>
        </div>
    </form>
</div>
<div ng-show="isLoading">Loading...</div>
<div ng-show="onSuccess" class="alert alert-success" role="alert">Success!</div>
<br />
